<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Hannah Stauss</title>
</head>
<body>
    <h1>All About Hannah Stauss</h1>

        <h2>What I Do During My Free Time</h2>
            <p>As a <em>business student</em>, I have a lot of free time on <strong>Fridays</strong>
            Some of the things I do are: </p>
            <ul>
                <li>Go to lunch with friends</li>
                <li>Watch <strong>hours</strong> of Netflix</li>
                <li>Take walks around campus</li>
                <li>Play <em>Classical</em> music</li>
            </ul>
        <!-- The section above is an unordered list with strong and emphasized words. -->

        <h2>My Top 3 Favorite Foods</h2>
            <p>When I go out for dinner, I look for these Top 3 Foods:</p>
            <ol>
                <li>Dim Sum</li>
                <li>Thai Food</li>
                <li>Mexican Food</li>
            </ol>
        <!-- The section above is an ORDERED list of foods I like to eat -->

        <h2>Courses I Have Taken</h2>
            <table>
                <tr>
                    <th>Course</th>
                    <th>Semester</th>
                </tr>
                <tr>
                    <td>BMGT326</td>
                    <td>Fall 2022</td>
                </tr>
                <tr>
                    <td>BMGT321</td>
                    <td>Spring 2022</td>
                </tr>
                <tr>
                    <td>BMGT407</td>
                    <td>Spring 2023</td>
                </tr>
            </table>
        <!-- These are courses I have taken in a table format -->

        <h2>Click Some of My Links</h2>
            <p>I want to say <a href="hello.html">Hello</a></p>
            <p>This is one of my <a href="https://www.google.com/">favorite websites</a></p>
            <p>Here is another <a href="https://www.umd.edu/" target="_blank">favorite website</a></p>
        <!-- Above I created links to my hello.html, google, and the UMD webpage -->

        <h2>The School I Go To</h2>
            <p>I go to the Robert H. Smith School of Business</p>
            <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
                 width="267" height="72" alt="Smith logo">
        <!-- Here is an image of a school -->

</body>
</html>